</div>

<footer class="footer text-center">
    <div class="container p-3">
      <span class="text-muted">&copy; <%= new Date().getFullYear() %> <a class="specColor" href="/">The schApp Team</a>. All Rights Reserved. </span>
    </div>
  </footer>
</body>
</html>